.explorer {
  padding: 40px;
}

.search {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin: 20px 0;
}

.tabs {
  display: flex;
  gap: 25px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 25px;
}

.tabs span {
  padding-bottom: 10px;
  cursor: pointer;
}

.tabs .active {
  color: #2563eb;
  border-bottom: 3px solid #2563eb;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 por linha */
  gap: 24px;
}

/* Responsivo */
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); /* 2 por linha */
  }
}

@media (max-width: 640px) {
  .grid {
    grid-template-columns: 1fr; /* 1 por linha */
  }
}
